@import "../../../vars";

.apartmentFilter {
  width: 754px;
  position: relative;
  .container {
    position: relative;
    .aptCards {
      position: absolute;
      width: 663px;
      margin-top: 70px;
      -moz-column-count: 2;
      -moz-column-gap: 25px;
      -webkit-column-count: 2;
      -webkit-column-gap: 25px;
      column-count: 2;
      column-gap: 25px;
      @media(max-width: 880px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: calc(100vw - 40px);
      }
    }
  }
}
