@import "../../vars";

.FAQ {
  padding-top: 100px;
  width: 1100px;
  height: 800px;
  margin: auto;
  .header {
    text-align: center;
    font-size: 30px;
    color: $devblue;
    margin-bottom: 30px;
  }
  .faq-item {
    color: $white;
    font-size: 20px;
    margin-bottom: 14px;
    span {
      color: $devblue;
      margin-right: 20px;
    }
  }
}
