@import "../../vars";

.waitlist-container {
  .modal {
    margin-top: -620px;
    margin-left: 0px;
  }
}

.modal {
  display: none;
  justify-content: center;
  align-items: flex-start;
  position: fixed;
  width: 100%;
  margin-left: -20px;
  height: 100%;
  margin-top: -30px;
  padding: 30px;
  background: rgba(0,0,0,0.6);
  overflow: scroll;
  .studentInfoCard {
    @media(max-width: 600px) {
      max-width: 100vw;
      margin-bottom: 60px;
    }
    padding: 20px 30px;
    box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
    background: $white;
    border: solid 3px $devblue;
    display: flex;
    flex-direction: column;
    input[type="text"],
    input[type="date"] {
      margin-bottom: 7px;
      padding: 5px;
      width: 175px;
      height: 18px;
      @media(max-width: 450px) {
        width: calc(100% - 13px);
      }
    }
    .studentInfoIcons {
      display: flex;
      justify-content: space-between;
      margin-bottom: 13px;
      margin-top: 5px;
      i {
        font-size: 26px;
        &:hover {
          cursor: pointer;
          color: $devblue;
        }
      }
    }
    .buttons {
      margin: 5px 0px;
      display: flex;
      justify-content: space-between;
      button {
        background: none;
        border: none;
        i {
          font-size: 26px;
          &:hover {
            color: $devblue;
          }
        }
        &:hover {
          cursor: pointer;
        }
      }
    }
    .input-info {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 400px;
      @media(max-width: 600px) {
        width: 100%;
      }
      .input-heading {
        width: 100%;
        color: $devblue;
        margin: 16px 0px 12px;
      }
    }
    .input-field {
      @media(max-width: 450px) {
        width: 100%;
      }
      p {
        position: absolute;
        padding: 0px 2px;
        font-size: 10px;
        background: white;
        color: $devblue;
        margin-top: -4px;
        margin-left: 7px;
      }
      div {
        margin-bottom: 7px;
        padding: 6px;
        padding-top: 8px;
        font: 13.3333px Arial;
        width: 189px;
        border: solid 1px #a0a0a0;
        height: 32px;
        @media(max-width: 450px) {
          width: 100%;
        }
      }
    }
    .input-textarea {
      width: 100%;
      margin: 15px 0px;
      textarea {
        width: 100%;
        height: 90px;
        box-sizing: border-box;
        padding: 7px;
        resize: none;
        font-family: helvetica, sans-serif;
      }
    }
  }
}
